<div id="Mappool1Info" class="flex flex-col border border-gray-500 rounded-lg p-5 gap-3">
  <h2 class="text-xl text-white font-bold">{{ position | titlecase }} Map</h2>

  <div class="flex flex-row gap-3">
    <div class="w-1/2">
      <p-floatlabel variant="on">
        <p-select
          fluid
          [options]="mapTimeOptions"
          id="MapTimeSelect"
          [(ngModel)]="selectedMapTime"
        ></p-select>
        <label for="MapTimeSelect">When is/was the match</label>
      </p-floatlabel>
    </div>

    <div class="w-1/2">
      <p-floatlabel variant="on">
        @if (selectedMapTime === "Present") {
          <p-select
            fluid
            [(ngModel)]="selectedMap"
            [options]="mapSuggestions"
            [disabled]="true"
            id="MapNameInput"
          ></p-select>
          <label for="MapNameInput">Map Name Automatic</label>
        } @else {
          <p-select
            fluid
            [(ngModel)]="selectedMap"
            [options]="mapSuggestions"
            [editable]="true"
            [showClear]="true"
            id="MapNameInput"
          ></p-select>
          <label for="MapNameInput">Map Name</label>
        }
      </p-floatlabel>
    </div>
  </div>

  @if (selectedMapTime === "Past") {
    <div class="flex flex-row gap-3">
      <div class="w-1/2">
        <p-floatlabel variant="on">
          <p-inputnumber
            fluid
            id="MapLeftScore"
            [showButtons]="true"
            buttonLayout="horizontal"
            inputId="horizontal"
            spinnerMode="horizontal"
            [step]="1"
            min="0"
          >
            <ng-template #incrementbuttonicon>
              <span class="pi pi-plus"></span>
            </ng-template>
            <ng-template #decrementbuttonicon>
              <span class="pi pi-minus"></span>
            </ng-template>
          </p-inputnumber>
          <label for="MapLeftScore">Left Score</label>
        </p-floatlabel>
      </div>
      <div class="w-1/2">
        <p-floatlabel variant="on">
          <p-inputnumber
            fluid
            id="MapRightScore"
            [showButtons]="true"
            buttonLayout="horizontal"
            inputId="horizontal"
            spinnerMode="horizontal"
            [step]="1"
            min="0"
          >
            <ng-template #incrementbuttonicon>
              <span class="pi pi-plus"></span>
            </ng-template>
            <ng-template #decrementbuttonicon>
              <span class="pi pi-minus"></span>
            </ng-template>
          </p-inputnumber>
          <label for="MapRightScore">Right Score</label>
        </p-floatlabel>
      </div>
    </div>
  }

  <label class="self-center -mb-2">Map Picker</label>
  <div class="flex justify-around">
    <div>
      <p-radiobutton
        name="picker-{{ position }}"
        value="1"
        [(ngModel)]="picker"
        inputId="MapLeftPicker-{{ position }}"
      />
      <label for="MapLeftPicker-{{ position }}" class="ml-2">Left Team</label>
    </div>
    @if (selectedMapTime === "Future") {
      <div>
        <p-radiobutton
          name="picker-{{ position }}"
          value="3"
          [(ngModel)]="picker"
          inputId="MapDeciderPicker-{{ position }}"
        />
        <label for="MapDeciderPicker-{{ position }}" class="ml-2">Decider</label>
      </div>
    }
    <div>
      <p-radiobutton
        name="picker-{{ position }}"
        value="2"
        [(ngModel)]="picker"
        inputId="MapRightPicker-{{ position }}"
      />
      <label for="MapRightPicker-{{ position }}" class="ml-2">Right Team</label>
    </div>
  </div>
</div>
