/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Montserrat:wght@400;700;900&display=swap");
@import "tailwindcss";
@plugin "tailwindcss-primeui";
@import "primeicons/primeicons.css";


@custom-variant dark (&:where(.dark, .dark *));

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: rgba(0, 0, 0, 0);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(191, 191, 191, 0.5);
  border-radius: 1px;
}
