/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "primeicons/primeicons.css";

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: rgba(0, 0, 0, 0);
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(191, 191, 191, 0.5);
    border-radius: 1px;
}