<p-drawer [(visible)]="drawerVisible" header="Checklist">
  <ng-template #content>
    <p-panelmenu [model]="checklistItems" styleClass="w-full md:w-20rem" />
  </ng-template>
</p-drawer>
<p-dialog
  header="Input Issues Detected"
  [styleClass]="'w-3/5'"
  [(visible)]="issueDialogVisible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="true"
>
  <p>There are detected issues in one or more of the inputs.</p>
  <p>Click on "Checklist" on the left to quickly jump to issues.</p>
  <br />
  <p>Issues are marked with a red cross. Gray circles are optional fields.</p>
</p-dialog>
<p-dialog
  header="Spectra Extras"
  [styleClass]="'w-3/5'"
  [(visible)]="extrasDialogVisible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="true"
>
  <div class="flex flex-col gap-3">
    <p class="text-md text-center text-red-400">{{ extrasIssueMessage }}</p>
    @if (basicInfo.ingestIp && ingestServerOptions.includes(basicInfo.ingestIp)) {
      <p-button
        fluid
        label="Copy Overlay URL to Clipboard"
        icon="pi pi-clipboard"
        severity="primary"
        [disabled]="basicInfo.groupCode == ''"
        (onClick)="copyToClipboardClick(); copied_popover.toggle($event)"
        pTooltip="Copy Overlay Link to Clipboard"
        tooltipPosition="left"
        showDelay="500"
      >
        <p-popover #copied_popover>
          <p class="">Overlay link copied to clipboard!</p>
        </p-popover>
      </p-button>
    }
    <p-button
      fluid
      label="Open Overlay Preview (🔑)"
      icon="pi pi-eye"
      class="w-full"
      severity="primary"
      [disabled]="!editable"
      [loading]="tryingToConnect"
      (onClick)="onPreviewClick()"
    />
    <p-button
      fluid
      label="Start Mapban Session (🔑)"
      icon="pi pi-map"
      class="w-full"
      severity="primary"
      [loading]="tryingToConnect"
      (onClick)="onMapbanClick()"
    />
  </div>
</p-dialog>
<button
  pButton
  class="border-surface fixed z-1050 -translate-x-3/7 translate-y-4/1 -rotate-90 cursor-pointer rounded-b-2xl border-x-1 border-b-1 px-3 pb-1 font-normal"
  icon="pi pi-list-check"
  [hidden]="!editable"
  (click)="drawerVisible = true"
  (click)="forceExpandPanelItems()"
  [severity]="validationIssuesDetected ? 'help' : 'secondary'"
>
  Checklist
</button>

<div class="m-4 grid grid-cols-6 gap-4">
  <blockable-div class="col-span-3 h-full" #observerinfo_panel>
    <p-block-ui [target]="observerinfo_panel" [blocked]="!editable" />
    <app-observerinfo
      id="observerinfoPanelId"
      class=""
      [data]="basicInfo"
      (validationChanged)="onPanelValidationChanged($event, 'observerinfoPanelId')"
      (isSupporterChanged)="onIsSupporterChanged($event)"
    ></app-observerinfo>
  </blockable-div>

  <div class="border-surface col-span-3 flex flex-col rounded-lg border p-5">
    <p-button
      class="absolute h-10 self-start"
      [severity]="!isSupporter ? 'success' : 'help'"
      icon="pi pi-heart-fill"
      [label]="!isSupporter ? 'Support Us!' : 'Thank you!'"
      (onClick)="openSupportUs()"
    />
    <div class="absolute flex gap-2 self-end">
      <p-button
        class="h-10 w-10"
        severity="success"
        icon="pi pi-discord"
        (onClick)="joinDiscord()"
        pTooltip="Join our Discord Server!"
        tooltipPosition="left"
        showDelay="500"
      />
      <p-button
        class="h-10 w-10"
        severity="contrast"
        [icon]="darkModeEnabled ? 'pi pi-sun' : 'pi pi-moon'"
        (onClick)="toggleDarkMode()"
        pTooltip="Switch to {{ darkModeEnabled ? 'Light' : 'Dark' }} Mode"
        tooltipPosition="left"
        showDelay="500"
      />
    </div>
    @if (isSupporter) {
      <img class="h-40 self-center" src="assets/plus-icon.webp" />
    } @else {
      <img class="h-40 self-center" src="assets/icon.webp" />
    }
    <p class="text-md text-color my-2">
      Spectra Status:
      <p-tag [value]="spectraStatus.message | titlecase" [severity]="spectraStatus.statusType" />
    </p>
    <p class="text-md text-color mb-2">
      Game Status:
      <p-tag [value]="gameStatus.message | titlecase" [severity]="gameStatus.statusType" />
    </p>
    <div class="flex w-full flex-row gap-2">
      <p-button
        fluid
        label="Connect"
        class="w-full"
        severity="primary"
        [disabled]="!editable"
        [loading]="tryingToConnect"
        loadingIcon="pi pi-sync"
        (onClick)="onConnectClick()"
      />
      <p-button
        fluid
        label="Extras"
        class="w-2/5"
        severity="secondary"
        [disabled]="!editable || validationIssuesDetected"
        (onClick)="onExtrasClick()"
        pTooltip="{{
          validationIssuesDetected
            ? 'Cannot open Spectra Extras while there is an issue in the checklist'
            : ''
        }}"
        tooltipPosition="top"
        tooltipEvent="hover"
        showDelay="300"
      />
    </div>
  </div>

  <blockable-div class="col-span-6 lg:col-span-3" #teaminfo1_panel>
    <p-block-ui [target]="teaminfo1_panel" [blocked]="!editable" />
    <app-teaminfo
      id="leftTeaminfoPanelId"
      position="left"
      [teaminfo]="leftTeamInfo"
      (validationChanged)="onPanelValidationChanged($event, 'leftTeaminfoPanelId')"
    ></app-teaminfo>
  </blockable-div>
  <blockable-div class="col-span-6 lg:col-span-3" #teaminfo2_panel>
    <p-block-ui [target]="teaminfo2_panel" [blocked]="!editable" />
    <app-teaminfo
      id="rightTeaminfoPanelId"
      position="right"
      [teaminfo]="rightTeamInfo"
      (validationChanged)="onPanelValidationChanged($event, 'rightTeaminfoPanelId')"
    ></app-teaminfo>
  </blockable-div>

  <blockable-div class="col-span-6" #tournamentinfo_panel>
    <p-block-ui [target]="tournamentinfo_panel" [blocked]="!editable" />
    <app-tournamentinfo
      id="tournamentinfoPanelId"
      [data]="tournamentInfo"
      (validationChanged)="onPanelValidationChanged($event, 'tournamentinfoPanelId')"
    ></app-tournamentinfo>
  </blockable-div>
  <blockable-div class="col-span-3 h-full" #seriesinfo_panel>
    <p-block-ui [target]="seriesinfo_panel" [blocked]="!editable" />
    <app-seriesinfo
      id="seriesinfoPanelId"
      [data]="seriesInfo"
      (validationChanged)="onPanelValidationChanged($event, 'seriesinfoPanelId')"
    ></app-seriesinfo>
  </blockable-div>

  <blockable-div class="col-span-3" #hotkeys_panel>
    <p-block-ui [target]="hotkeys_panel" [blocked]="!editable" />
    <app-hotkeys
      id="hotkeySettingsId"
      [data]="hotkeys"
      class="col-span-3"
      (validationChanged)="onPanelValidationChanged($event, 'hotkeySettingsId')"
    ></app-hotkeys>
  </blockable-div>

  <blockable-div class="col-span-6" #mapinfo_panel>
    <p-block-ui [target]="mapinfo_panel" [blocked]="!editable" />
    <p-block-ui [target]="mapinfo_inputs" [blocked]="!tournamentInfo.showMappool" />
    <div class="border-surface flex flex-col gap-3 rounded-lg border p-5">
      <div class="flex items-center gap-2">
        <h1 class="text-color mb-2 text-xl font-bold">Mappool</h1>
        <p-toggleswitch
          id="ShowTournamentInfo"
          [(ngModel)]="tournamentInfo.showMappool"
        ></p-toggleswitch>
      </div>
      <blockable-div #mapinfo_inputs>
        <div class="grid grid-cols-3 gap-3">
          <app-mapinfo
            class="border-surface col-span-3 xl:col-span-1 xl:border-r xl:pr-3"
            id="leftMapPanelId"
            [data]="leftMap"
            position="left"
            [blocked]="!tournamentInfo.showMappool"
            [teamdata]="[leftTeamInfo, rightTeamInfo]"
            (validationChanged)="onPanelValidationChanged($event, 'leftMapPanelId')"
          ></app-mapinfo>
          <hr class="border-surface col-span-full xl:hidden" />
          <app-mapinfo
            class="border-surface col-span-3 xl:col-span-1 xl:border-r xl:pr-3"
            id="centerMapPanelId"
            [data]="centerMap"
            position="center"
            [blocked]="!tournamentInfo.showMappool"
            [teamdata]="[leftTeamInfo, rightTeamInfo]"
            (validationChanged)="onPanelValidationChanged($event, 'centerMapPanelId')"
          ></app-mapinfo>
          <hr class="border-surface col-span-full xl:hidden" />
          <app-mapinfo
            class="col-span-3 xl:col-span-1"
            id="rightMapPanelId"
            [data]="rightMap"
            position="right"
            [blocked]="!tournamentInfo.showMappool"
            [teamdata]="[leftTeamInfo, rightTeamInfo]"
            (validationChanged)="onPanelValidationChanged($event, 'rightMapPanelId')"
          ></app-mapinfo>
        </div>
      </blockable-div>
    </div>
  </blockable-div>

  <blockable-div class="col-span-6" #sponsor_panel>
    <p-block-ui [target]="sponsor_panel" [blocked]="!editable" />
    <app-sponsor
      id="sponsorPanelId"
      [data]="sponsorInfo"
      class="col-span-6"
      [isSupporter]="isSupporter"
      (validationChanged)="onPanelValidationChanged($event, 'sponsorPanelId')"
    ></app-sponsor>
  </blockable-div>

  <blockable-div class="col-span-3" #watermark_panel>
    <p-block-ui [target]="watermark_panel" [blocked]="!editable" />
    <app-watermark
      id="watermarkPanelId"
      [data]="watermarkInfo"
      class="col-span-3"
      [isSupporter]="isSupporter"
      (validationChanged)="onPanelValidationChanged($event, 'watermarkPanelId')"
    ></app-watermark>
  </blockable-div>

  <blockable-div class="col-span-3" #playercams_panel>
    <p-block-ui [target]="playercams_panel" [blocked]="!editable" />
    <app-playercams
      id="playercamsPanelId"
      [data]="playercamsInfo"
      [key]="basicInfo.key"
      class="col-span-3"
      (validationChanged)="onPanelValidationChanged($event, 'playercamsPanelId')"
    ></app-playercams>
  </blockable-div>
</div>
