<div class="grid grid-cols-6 gap-4 m-4">
  <div class="col-span-3 flex flex-col border border-gray-500 rounded-lg p-5 justify-around">
    <p-floatlabel variant="on">
      <input class="w-full" pInputText disabled id="ValorantNameInput" autocomplete="off" />
      <label for="ValorantNameInput" class="text-sm">Please double-check your Valorant name</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <p-password fluid [feedback]="false" [toggleMask]="true" id="KeyInput" autocomplete="off" />
      <label for="KeyInput">Organization Key</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <input fluid pInputText [(value)]="groupCode" id="GroupCodeInput" autocomplete="off" />
      <label for="GroupCodeInput">Group Code</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <p-select
        fluid
        [(ngModel)]="ingestServerIp"
        [options]="ingestServerOptions"
        [editable]="true"
        [showClear]="true"
        id="IngestIpInput"
      ></p-select>
      <label for="IngestIpInput">Ingest Server IP</label>
    </p-floatlabel>
  </div>
  <div class="col-span-3 flex flex-col border border-gray-500 rounded-lg p-5">
    <img class="h-40 self-center" src="assets/icon.png" />
    <p class="text-md text-white my-2">
      Status:
      <p-tag value="Idle" severity="secondary" />
      <p-tag value="In Lobby" severity="info" />
      <p-tag value="Error" severity="danger" />
      <p-tag value="Running" severity="success" />
    </p>
    <p-button fluid label="Connect" severity="secondary" (onClick)="onConnectClick()" />
  </div>

  <app-teaminfo class="col-span-6" title="Left Team" [teaminfo]="leftTeamInfo"></app-teaminfo>
  <app-teaminfo class="col-span-6" title="Right Team" [teaminfo]="rightTeamInfo"></app-teaminfo>

  <app-tournamentinfo class="col-span-3"></app-tournamentinfo>
  <app-seriesinfo class="col-span-3"></app-seriesinfo>

  <app-mapinfo class="col-span-6 lg:col-span-3" position="left"></app-mapinfo>
  <app-mapinfo class="col-span-6 lg:col-span-3" position="center"></app-mapinfo>
  <app-mapinfo class="col-span-6 lg:col-span-3" position="right"></app-mapinfo>

  <app-hotkeys class="col-span-3"></app-hotkeys>
</div>
