<div class="flex flex-col border border-gray-500 rounded-lg p-5 gap-3">
    <h1 class="text-xl text-white mb-2">Series Info</h1>
    <p-floatlabel variant="on">
        <p-inputnumber fluid id="MapsNeededInput" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal"
            spinnerMode="horizontal" [step]="1" min="1" max="10">
            <ng-template #incrementbuttonicon>
                <span class="pi pi-plus"></span>
            </ng-template>
            <ng-template #decrementbuttonicon>
                <span class="pi pi-minus"></span>
            </ng-template>
        </p-inputnumber>
        <label for="MapsNeededInput">Maps to win series</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
        <p-inputnumber fluid id="MapsWonLeft" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal"
            spinnerMode="horizontal" [step]="1" min="1" max="10">
            <ng-template #incrementbuttonicon>
                <span class="pi pi-plus"></span>
            </ng-template>
            <ng-template #decrementbuttonicon>
                <span class="pi pi-minus"></span>
            </ng-template>
        </p-inputnumber>
        <label for="MapsWonLeft">Maps won by Left Team</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
        <p-inputnumber fluid id="MapsWonRight" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal"
            spinnerMode="horizontal" [step]="1" min="1" max="10">
            <ng-template #incrementbuttonicon>
                <span class="pi pi-plus"></span>
            </ng-template>
            <ng-template #decrementbuttonicon>
                <span class="pi pi-minus"></span>
            </ng-template>
        </p-inputnumber>
        <label for="MapsWonRight">Maps won by Right Team</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
        <input pInputText type="text" maxlength="10" class="w-full bg-gray-900 text-white border" id="SeedingLeft" />
        <label for="SeedingLeft">Seeding for Left Team</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
        <input pInputText type="text" maxlength="10" class="w-full bg-gray-900 text-white border" id="SeedingRight" />
        <label for="SeedingRight">Seeding for Right Team</label>
    </p-floatlabel>

</div>