@if (loading && isDevMode) {
  <div class="loading-screen" [@loadingFade]>
    <div class="loading-screen-container">
      <img class="h-40 -mt-20 justify-self-center animate-pulse" src="assets/icon.png" />
      <p class="loading-screen-text">Spectra is loading</p>
      <p-progressbar mode="indeterminate" [style]="{ height: '100%' }"></p-progressbar>
    </div>
  </div>
}
@if (eventStatus === 2) {
  <p-message severity="warn" closable icon="pi pi-exclamation-triangle" [@eventFade]
    >Valorant events are currently marked as deprecated, it's possible not all features of Spectra
    will work</p-message
  >
} @else if (eventStatus === 3) {
  <p-message severity="error" closable icon="pi pi-exclamation-triangle"
    >Valorant events are currently marked as unavailable, Spectra will probably not work</p-message
  >
} @else if (eventStatus === 4) {
  <p-message severity="error" closable icon="pi pi-exclamation-triangle"
    >Valorant events are currently disabled, Spectra will probably not work</p-message
  >
}
<router-outlet />
