.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-zinc-900);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-screen-container {
  width: 75%;
  height: 1%;
}

.loading-screen-text {
  font-size: 1.5rem;
  text-align: center;
}

.delayed-loading-text {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 5s forwards;
  font-size: 1rem;
  text-align: center;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
