<div class="flex flex-col border border-gray-500 rounded-lg p-5 gap-3">
  <h1 class="text-xl text-white font-bold">{{ title }}</h1>
  <p-floatlabel variant="on">
    <input
      class="w-full"
      pInputText
      [(value)]="teaminfo.name"
      id="TeamLeftNameInput"
      placeholder=""
      autocomplete="off"
    />
    <label for="TeamLeftNameInput">Team name</label>
  </p-floatlabel>
  <p-floatlabel variant="on">
    <input
      class="w-full"
      pInputText
      [(value)]="teaminfo.tricode"
      id="TeamLeftTricodeInput"
      placeholder=""
      autocomplete="off"
    />
    <label for="TeamLeftTricodeInput">Team tricode</label>
  </p-floatlabel>
  <p-floatlabel variant="on">
    <input
      class="w-full"
      pInputText
      [(value)]="teaminfo.url"
      id="TeamLeftLogoInput"
      placeholder=""
      autocomplete="off"
    />
    <label for="TeamLeftLogoInput">Team Logo URL</label>
  </p-floatlabel>
</div>
