<div class="border-surface flex flex-col gap-3 rounded-lg border p-5">
  <div class="flex items-center gap-2">
    <h1 class="text-color text-xl font-bold">Round Win Box</h1>
    <i
      class="text-md! pi pi-info size-min cursor-pointer rounded-full border p-1"
      (click)="info_popover.toggle($event)"
    ></i>
    <p-popover #info_popover>
      <p class="">Recommended image size:</p>
      <p class="">Logo: Any size with a 1:1 aspect ratio</p>
      <p class="">Backdrop: 875x200 / 35:8 - 830x250 / 83:25 on Nobii's Style</p>
    </p-popover>
  </div>

  <p-inputgroup>
    <p-inputgroup-addon>
      <p-button label="Disabled" [severity]="data.type == 'disabled' ? 'primary' : 'secondary'" (onClick)="data.type = 'disabled'; runValidation()" />
    </p-inputgroup-addon>
    <p-inputgroup-addon>
      <p-button label="Tournament Info" [severity]="data.type == 'tournamentInfo' ? 'primary' : 'secondary'" (onClick)="data.type = 'tournamentInfo'; runValidation()" />
    </p-inputgroup-addon>
    <p-inputgroup-addon>
      <p-button label="Sponsors" [severity]="data.type == 'sponsors' ? 'primary' : 'secondary'" (onClick)="data.type = 'sponsors'; runValidation()"/>
    </p-inputgroup-addon>
  </p-inputgroup>
  <h1
    [hidden]="data.type != 'tournamentInfo'"
    class="text-md text-color italic"
  >
    Configure Tournament Info in the Box above.
  </h1>
  <h1
    [hidden]="isSupporter || data.type != 'sponsors'"
    class="text-md text-color italic"
  >
    Subscribe to Spectra+ to be able to add more than one sponsor.
  </h1>

  <p-blockui [target]="toBlock" [blocked]="data.type != 'sponsors'"></p-blockui>
  <blockable-div #toBlock>
    <div class="grid grid-cols-12 gap-3">
      @for (i of numSequence(data.sponsors.length + 1); track $index) {
        @if ($index == 0 || $index > 0 && isSupporter) {
          <div class="col-span-7 flex flex-row">
            <div class="w-full mr-2">
              <div class="flex w-full mb-2">
                <p-floatlabel variant="on" class="w-1/2 mr-1">
                  <input
                    pInputText
                    fluid
                    type="url"
                    [ngModel]="data.sponsors[$index]?.iconUrl"
                    (ngModelChange)="updateSponsor($index, 'iconUrl', $event)"
                    [class.ng-dirty]="sponsorIconError[$index]"
                    [class.ng-invalid]="sponsorIconError[$index]"
                    id="SponsorLogo{{ $index + 1 }}"
                  />
                  <label for="SponsorLogo{{ $index + 1 }}">Sponsor {{ $index + 1 }} logo URL</label>
                </p-floatlabel>
                <p-floatlabel variant="on" class="w-1/2 ml-1">
                  <input
                    pInputText
                    fluid
                    type="url"
                    [ngModel]="data.sponsors[$index]?.backdropUrl"
                    (ngModelChange)="updateSponsor($index, 'backdropUrl', $event)"
                    [class.ng-dirty]="sponsorBackdropError[$index]"
                    [class.ng-invalid]="sponsorBackdropError[$index]"
                    id="SponsorBackdrop{{ $index + 1 }}"
                  />
                  <label for="SponsorBackdrop{{ $index + 1 }}">Sponsor {{ $index + 1 }} backdrop URL</label>
                </p-floatlabel>
              </div>
              <div class="flex w-full">
                <p-floatlabel variant="on" class="w-1/2 mr-1">
                  <p-select
                    appendTo="body"
                    fluid
                    id="roundWinBoxDialogTeam"
                    [options]="roundWinBoxTeams"
                    [ngModel]="data.sponsors[$index]?.wonTeam"
                    (ngModelChange)="updateSponsor($index, 'wonTeam', $event)"
                    [class.ng-invalid]="sponsorTypeError[$index]"
                  ></p-select>
                  <label for="roundWinBoxDialogTeam">Which Team</label>
                </p-floatlabel>
                <p-floatlabel variant="on" class="w-1/2 ml-1">
                  <p-multiselect
                    appendTo="body"
                    id="roundWinBoxDialogCeremonies"
                    class="w-full"
                    [options]="roundWinBoxRoundCeremonie"
                    [ngModel]="data.sponsors[$index]?.roundCeremonie"
                    (ngModelChange)="updateSponsor($index, 'roundCeremonie', $event)"
                    [maxSelectedLabels]="3"
                    [filter]="false"
                    [showToggleAll]="false"
                    [class.ng-invalid]="sponsorTypeError[$index]"
                  ></p-multiselect>
                  <label for="roundWinBoxDialogCeremonies">Which Round Ceremonies</label>
                </p-floatlabel>
              </div>
            </div>
            <div class="w-1/14">
              @if ($index < data.sponsors.length) {
                <p-button
                  fluid
                  icon="pi pi-times"
                  styleClass="w-full h-full"
                  severity="danger"
                  (onClick)="this.data.sponsors.splice($index, 1); this.sponsorIconError.splice($index, 1); this.sponsorBackdropError.splice($index, 1);"
                />
              }
            </div>
          </div>
          @if ($index < data.sponsors.length) {
            <div class="col-span-5 flex flex-row max-h-22">
              <div
                class="flex shrink min-w-0 aspect-square max-h-22 items-center justify-center mr-6 {{(sponsorIconError[$index] || !data.sponsors[$index].iconUrl) ? 'border-surface bg-emphasis rounded-xl border' : ''}}"
              >
                @if (sponsorIconError[$index] || !data.sponsors[$index].iconUrl) {
                  <i
                    class="text-md! pi pi-info size-min cursor-pointer rounded-full border p-1"
                    (click)="info_popover.toggle($event)"
                  ></i>
                  <p-popover #info_popover>
                    <p class="">Make sure the link points directly to the image.</p>
                    <p class="">Valid links usually end in .png or .jpg.</p>
                  </p-popover>
                }
                <img
                  class="aspect-square justify-self-center object-contain"
                  alt=""
                  [src]="data.sponsors[$index].iconUrl"
                  (load)="onSponsorImageLoadSuccess($index, 'icon')"
                  (error)="onSponsorImageLoadError($index, 'icon')"
                  [hidden]="sponsorIconError[$index] || !data.sponsors[$index].iconUrl"
                />
              </div>
              <div
                class="flex shrink min-w-0 aspect-35/8 max-h-full max-w-full items-center justify-center {{(sponsorBackdropError[$index] || !data.sponsors[$index].backdropUrl) ? 'border-surface bg-emphasis rounded-xl border' : ''}}"
              >
                @if (sponsorBackdropError[$index] || !data.sponsors[$index].backdropUrl) {
                  <i
                    class="text-md! pi pi-info size-min cursor-pointer rounded-full border p-1"
                    (click)="info_popover.toggle($event)"
                  ></i>
                  <p-popover #info_popover>
                    <p class="">Make sure the link points directly to the image.</p>
                    <p class="">Valid links usually end in .png or .jpg.</p>
                  </p-popover>
                }
                <img
                  class="max-w-full max-h-full object-contain"
                  alt=""
                  [src]="data.sponsors[$index].backdropUrl"
                  (load)="onSponsorImageLoadSuccess($index, 'backdrop')"
                  (error)="onSponsorImageLoadError($index, 'backdrop')"
                  [hidden]="sponsorBackdropError[$index] || !data.sponsors[$index].backdropUrl"
                />
              </div>
            </div>
          }
          @if ($index < data.sponsors.length) {
            <div
              class="col-span-12 flex flex-row w-full border-b border-surface"
            ></div>
          }
        }
      }
    </div>
  </blockable-div>
</div>
