.txt {
    color: #e9ecf0;
    font-size: large;
}

.textInput {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.customRadio {
    position: flex;
    vertical-align: middle;
    height: 16px;
    width: 16px;
}

div {
    padding-top: 10px;
}