<p-toast />
<p-dialog
  header="Select Game Version"
  [styleClass]="'h-4/5'"
  [(visible)]="gameVersionDialogVisible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="true"
>
  <div class="flex flex-col gap-3">
    <p class="text-md text-center text-red-400">
      The selected version will only be active until next Spectra Client launch!
    </p>
    <p-button
      fluid
      label="Live"
      icon="pi pi-globe"
      class="w-full"
      severity="primary"
      (onClick)="forwardGameVersionSelection('latest')"
    />
    <p-button
      fluid
      label="Tournament Realm 1"
      icon="pi pi-map"
      class="w-full"
      severity="primary"
      (onClick)="forwardGameVersionSelection('tr1')"
    />
    <p-button
      fluid
      label="Tournament Realm 2"
      icon="pi pi-map"
      class="w-full"
      severity="primary"
      (onClick)="forwardGameVersionSelection('tr2')"
    />
    <p-button
      fluid
      label="Tournament Realm 3"
      icon="pi pi-map"
      class="w-full"
      severity="primary"
      (onClick)="forwardGameVersionSelection('tr3')"
    />
  </div>
</p-dialog>
<div class="m-2 grid grid-cols-6 gap-4">
  <div class="border-surface col-span-3 flex flex-col justify-around gap-4 rounded-lg border p-5">
    <p-floatlabel variant="on">
      <input class="w-full" pInputText disabled id="ValorantNameInput" [value]="playername" />
      <label for="ValorantNameInput" class="text-sm">Please double-check your Valorant name</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <p-select
        fluid
        [(ngModel)]="ingestServerIp"
        [options]="ingestServerOptions"
        [readonly]="!editable"
        [editable]="true"
        id="IngestIpInput"
      ></p-select>
      <label for="IngestIpInput">Spectra Server</label>
    </p-floatlabel>
    <app-options id="optionsPanelId" class="col-span-3" [isAux]="true"></app-options>
  </div>
  <div class="border-surface col-span-3 flex flex-col justify-between rounded-lg border p-5">
    <p-button
      class="h-10 w-10"
      severity="warn"
      icon="pi pi-list"
      (onClick)="selectGameVersion()"
      pTooltip="Select Game Version"
      tooltipPosition="left"
      showDelay="500"
    />
    <p-button
      class="absolute h-10 w-10 self-end"
      severity="contrast"
      [icon]="darkModeEnabled ? 'pi pi-sun' : 'pi pi-moon'"
      (onClick)="toggleDarkMode()"
    />
    <img class="h-60 self-center" src="assets/icon.webp" />
    <p class="text-md text-color my-2">
      Status:
      <p-tag [value]="spectraStatus.message | titlecase" [severity]="spectraStatus.statusType" />
    </p>
  </div>
</div>
