<div class="flex flex-col border border-surface rounded-lg p-5 gap-3">
  <h1 class="text-xl text-color font-bold">Tournament Info</h1>

  <div class="grid grid-cols-7">
    <div class="col-span-7">
      <div class="flex gap-2 content-center">
        <label for="ShowTournamentInfo">Round Win Box</label>
        <p-toggleswitch id="ShowTournamentInfo" [(ngModel)]="data.name"></p-toggleswitch>
      </div>
      <p-floatlabel variant="on" class="mb-2">
        <input
          pInputText
          fluid
          type="text"
          maxlength="300"
          id="TournamentLogoInput"
          [class.ng-dirty]="logoImageError"
          [class.ng-invalid]="logoImageError"
          (ngModelChange)="runValidation()"
          [(ngModel)]="data.logoUrl"
        />
        <label for="TournamentLogoInput">Tournament logo URL</label>
      </p-floatlabel>

      <p-floatlabel variant="on" class="mb-2">
        <input
          pInputText
          fluid
          type="text"
          maxlength="50"
          id="TournamentBackdropInput"
          [class.ng-dirty]="backdropImageError"
          [class.ng-invalid]="backdropImageError"
          (ngModelChange)="runValidation()"
          [(ngModel)]="data.backdropUrl"
        />
        <label for="TournamentBackdropInput">Tournament backdrop URL (Round Win / Pauses)</label>
      </p-floatlabel>

      <p-floatlabel variant="on" class="mb-2">
        <p-inputnumber
          fluid
          id="timeoutDurationInput"
          [showButtons]="true"
          buttonLayout="horizontal"
          inputId="horizontal"
          spinnerMode="horizontal"
          [(ngModel)]="data.timeoutDuration"
          (ngModelChange)="runValidation()"
          [step]="10"
          value="60"
          min="10"
          max="600"
        >
          <ng-template #incrementbuttonicon>
            <span class="pi pi-plus"></span>
          </ng-template>
          <ng-template #decrementbuttonicon>
            <span class="pi pi-minus"></span>
          </ng-template>
        </p-inputnumber>
        <label for="timeoutDurationInput">Timeout Duration (seconds)</label>
      </p-floatlabel>

      <div class="flex gap-2 content-center">
        <label for="ShowTournamentInfo">Display Mappool</label>
        <p-toggleswitch id="ShowTournamentInfo" [(ngModel)]="data.showMappool"></p-toggleswitch>
      </div>
    </div>

    <!-- These are supposed to be visible, with the logo taking up 2/6 and the backdrop taking up 4/6 but I can't manage to make it work properly right now -->
    <!-- So for now they're just here to provide image load error functionality -->
    <div class="col-span-4 flex flex-row justify-center items-center" [hidden]="true">
      <div>
        <p class="text-sm italic mb-2">Logo preview</p>
        <img
          [src]="data.logoUrl"
          alt="Image link invalid"
          class="h-4/6 aspect-sqare justify-self-center rounded-xl border-surface border object-contain"
          [hidden]="!data.logoUrl || logoImageError"
          (load)="onLogoImageLoadSuccess()"
          (error)="onLogoImageLoadError()"
        />

        @if (!data.logoUrl || logoImageError) {
          <div
            class="w-4/6 aspect-sqare justify-self-center rounded-xl border-surface bg-emphasis border flex justify-center items-center"
          >
            <i
              class="text-md! rounded-full border size-min p-1 cursor-pointer pi pi-info"
              (click)="info_popover.toggle($event)"
            ></i>
            <p-popover #info_popover>
              <p class="">Make sure the link points directly to the image.</p>
              <p class="">Valid links usually end in .png or .jpg.</p>
            </p-popover>
          </div>
        }
      </div>
      <div>
        <p class="text-sm italic mb-2">Backdrop preview</p>
        <img
          [src]="data.backdropUrl"
          alt="Image link invalid"
          class="h-4/6 aspect-sqare justify-self-center rounded-xl border-surface border object-contain"
          [hidden]="!data.backdropUrl || backdropImageError"
          (load)="onBackdropImageLoadSuccess()"
          (error)="onBackdropImageLoadError()"
        />

        @if (!data.backdropUrl || backdropImageError) {
          <div
            class="w-4/6 aspect-sqare justify-self-center rounded-xl border-surface bg-emphasis border flex justify-center items-center"
          >
            <i
              class="text-md! rounded-full border size-min p-1 cursor-pointer pi pi-info"
              (click)="info_popover.toggle($event)"
            ></i>
            <p-popover #info_popover>
              <p class="">Make sure the link points directly to the image.</p>
              <p class="">Valid links usually end in .png or .jpg.</p>
            </p-popover>
          </div>
        }
      </div>
    </div>
  </div>
</div>
