<div class="flex flex-col border border-gray-500 rounded-lg p-5 gap-3">
    <h1 class="text-xl text-white">Tournament Info</h1>
    <div class="flex content-center gap-2">
        <label for="ShowTournamentInfo">Show Round Win Box:</label>
        <p-toggleswitch id="ShowTournamentInfo"></p-toggleswitch>
    </div>

    <p-floatlabel variant="on">
        <input pInputText type="text" maxlength="50" class="w-full bg-gray-900 text-white border" id="TournamentNameInput" />
        <label for="TournamentNameInput">Tournament name</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
        <input pInputText type="text" maxlength="300" class="w-full bg-gray-900 text-white border" id="TournamentLogoInput" />
        <label for="TournamentLogoInput">Tournament logo URL</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
        <input pInputText type="text" maxlength="50" class="w-full bg-gray-900 text-white border" id="TournamentBackdropInput" />
        <label for="TournamentBackdropInput">Tournament backdrop URL (Round Win / Pauses)</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
        <p-inputnumber id="timeoutDurationInput" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal"
            spinnerMode="horizontal" [step]="10" value="60" min="10" max="600">
            <ng-template #incrementbuttonicon>
                <span class="pi pi-plus"></span>
            </ng-template>
            <ng-template #decrementbuttonicon>
                <span class="pi pi-minus"></span>
            </ng-template>
        </p-inputnumber>
        <label for="timeoutDurationInput">Timeout Duration (in seconds)</label>
    </p-floatlabel>

  </div>